//- index.html

extends includes/layout

block title
    title Accueil
    
block style
    link(rel="stylesheet" href="css/main-min.css")

block header
    include includes/header.jade
    
block content
    p Template personnel de maquette, utilisant Jade et Stylus.

block footer
    include includes/footer.jade
