//- index.html

extends includes/layout

block title
    title Vues
    
block style
    link(rel="stylesheet" href="css/main-min.css")

block header
    include includes/header.jade
    
block content
    - var current = { profilPicture: 'Path for my picture' }
    div.clearfix    
        section.main__content
            h2.hidden Liste de...
            div.clearfix
                - var numberItem = 0
                while numberItem < 5
                    a(href="show.html")
                        section.container.filter__content
                            h3.hidden Le seigneur des anneaux
                            p.filter__title.epsilon Le seigneur des anneaux
                            p.filter__extrait Frodon, anneau et le mordor
                    - numberItem++
                section.container.filter__content.pagination
                    h3.hidden Pagination
                    span.inline-block.pagination__element
                        a(href="#").block.removeLink.pagination__element--links &lang;&lang;
                    span.inline-block.pagination__element
                        a(href="#").block.pagination__element--current 1
                    span.inline-block.pagination__element
                        a(href="#").block.pagination__element--links 2
                    span.inline-block.pagination__element
                        a(href="#").block.pagination__element--links 3
                    span.inline-block.pagination__element
                        a(href="#").block.removeLink.pagination__element--links &rang;&rang;

        section.main__feature
            h2.hidden Votre compte personnel
            //- Non connecté
                section.feature__account.container
                    h3.hidden Connectez-vous
                    div.account__profil
                        div.block
                            img(src="css/images/links/profil.gif", alt="").profil__img
                        a(href="#") Connectez-vous
                        p
                            | Pas encore inscrit&nbsp;? 
                            a(href="#") Inscivez-vous&nbsp;!
            //- Connecté
            section.feature__account.container
                h3.hidden Accès à votre compte
                div.account__profil
                    div.block
                        img(src="css/images/links/login.jpg", alt="").profil__img                    
                    a(href="#") (administration)
                    p Bienvenue, Simon 

block footer
    include includes/footer.jade
