///*------------------------------------*\
//    #BASE LINKS
//\*------------------------------------*/




// Remove default style for link
.removeLink
    color inherit
    text-decoration none
    &:hover
        color inherit
