///*------------------------------------*\
//    #BASE LISTS
//\*------------------------------------*/




// Fluide images for responsive
li > ul, li > ol
    rem-fallback( margin-bottom, value_line-height( wf_margin-spacing, 5 ) )
