///*------------------------------------*\
//    #BASE MINE
//\*------------------------------------*/




// Signature for my one creation
.signing
    rem-fallback( font-size, 14px )
    font-style italic
    rem-fallback( padding-top, 32px )
    text-align center
