//- includes/footer.jade

footer.footer
    div.footer__content.clearfix
        a(href="#")
            section.container.content__child
                h2.hidden Livres pour enfants
                p.gamma.category Livres enfants
        a(href="#")    
            section.container.content__teen
                h2.hidden Livres pour adolescents
                p.gamma.category Livres adolescents
        a(href="#")        
            section.container.content__adult
                h2.hidden Livres pour adultes
                p.gamma.category Livres adultes
