//- includes/header.jade

header.container
    div.header__heading
        div.heading__title    
            h1.title__main
                | Taman
                span.title__second pustaka
        div.heading__cite
            cite.cite__main Nourissez votre esprit mieux que nulle part ailleurs !
    div.header__navigation.clearfix
        nav.navigation__nav
            h2.hidden Menu de navigation de la bibliothèque
            span.inline-block.nav__element
                a(href="#").element__link Accueil
            span.inline-block.nav__element
                a(href="#").element__link Auteur
            span.inline-block.nav__element
                a(href="#").element__link Genre
            span.inline-block.nav__element
                a(href="#").element__link Éditeur
        div.navigation__search
            form(action="#" method="post").form__search
                input(type="text" placeholder="Rechercher")
                input(type="submit")
            
