//- includes/header.jade

header.container
    div.header__heading
        div.heading__title    
            h1.title__main
                | Taman
                span.title__second pustaka
        div.heading__cite
            cite.cite__main Nourissez votre esprit mieux que nulle part ailleurs !
    div.header__navigation.clearfix
        nav.navigation__nav
            h2.hidden Menu de navigation de la bibliothèque
            span.inline-block.nav__element
                a(href="#").removeLink.element__link Accueil
            span.inline-block.nav__element
                a(href="#").removeLink.element__link Auteurs
            span.inline-block.nav__element
                a(href="#").removeLink.element__link Genres
            span.inline-block.nav__element
                a(href="#").removeLink.element__link Éditeurs
        div.navigation__search
            form(action="#" method="post").form__search
                input(type="text" list="books" placeholder="Rechercher").forms__input--pattern.search__seek
                datalist#books
                    option(value="Harry Potter") &nbsp;
                    option(value="Seigneur des anneaux") &nbsp;
                    option(value="Jean Petit") &nbsp;
                input(type="submit").search__validate
            
