///*------------------------------------*\
//    #COMPONENTS SHOW
//\*------------------------------------*/




// Show style
.show__Title
    color black

.show__information
    font-style italic
    rem-fallback( margin, -24px 0 20px 0 )

.show__img
    display block
    float left
    rem-fallback( margin, 0 20px 10px 0 )
    rem-fallback( max-width, 225px )
