///*------------------------------------*\
//    #COMPONENTS FOOTER
//\*------------------------------------*/




// Footer style
.content__child, .content__teen, .content__adult
    float left
    width 32%
    rem-fallback( height, 175px )
    transition( all, 0.25s )
    opacity 1
    &:hover
        opacity 0.5
.content__teen
    margin-left 2%
    margin-right 2%

//- Display img
.content__child
    background url( "images/links/filter1.jpg" ) no-repeat
.content__teen
    background url( "images/links/filter2.jpg" ) no-repeat
.content__adult
    background url( "images/links/filter3.jpg" ) no-repeat
