///*------------------------------------*\
//    #COMPONENTS FEATURE
//\*------------------------------------*/




// Feature style
.feature__account
    position relative
    width 100%
    rem-fallback( height, 307px )
    text-align center
.account__profil
    position absolute
    rem-fallback( width, 250px )
    rem-fallback( height, 225px )
    top 0
    right 0
    bottom 0
    left 0
    margin auto
.profil__img
    rem-fallback( width, 150px )
    rem-fallback( height, 150px )
    border-radius 50%
    border 8px solid wf_border-login
    rem-fallback( margin-bottom, 12px )
