///*------------------------------------*\
//    #COMPONENTS FILTER
//\*------------------------------------*/




// Filter style
.filter
    rem-fallback( margin, 12px 0 )
.filter__content
    width 100%
.filter__list
    width 33.33%
    float left
    text-align center
    margin 0
.filter__title
    padding 0
    margin 0
.filter__extrait
    color wf_labeur-color
    padding 0
    margin 0
