///*------------------------------------*\
//    #COMPONENTS PAGINATION
//\*------------------------------------*/




// Pagination style
.pagination
    text-align center
.pagination__element
    rem-fallback( margin, 0 4px )
    transition( all, 0.25s )
.pagination__element--current
    text-decoration none
    color wf_link-color-hover
    rem-fallback( padding, 12px )
.pagination__element--links
    rem-fallback( padding, 12px )
