///*------------------------------------*\
//    #SETTINGS DEFAULT
//\*------------------------------------*/




// Font settings.
wf_font-size                    =    16px
wf_line-height                  =    24px
wf_space-unit                   =    wf_font-size
wf_margin-spacing               =    wf_line-height
wf_font-labeur                  =    "Esteban", serif
wf_font-heading                 =    "Montserrat", sans-serif

// Text colors.
wf_labeur-color                 =    #333333
wf_heading-color                =    #888888
wf_nav-color                    =    #45a0c9
wf_nav-color-hover              =    #59d0ff
wf_link-color                   =    #139885
wf_link-color-hover             =    #1be6bd

// Background colors.
wf_background-color             =    #ffffff

// Border colors
wf_border-color                 =    #ffffff

// Forms settings
wf_form-placeholder-color       =    #717171
wf_form-border-color            =    #ffffff
wf_form-background-color        =    #ffffff
wf_form-background-color-focus  =    #ffffff
