///*------------------------------------*\
//    #OBJECTS CONTAINER
//\*------------------------------------*/




// Container element
.container
    background-color wf_background-color
    rem-fallback( padding, 24px 20px )
    box-shadows( 1px, 4px, 125, 0.8 )
