///*------------------------------------*\
//    #OBJECTS CONTAINER
//\*------------------------------------*/




// Container element
.container
    position relative
    display block
    background-color wf_background-color
    rem-fallback( padding, 24px 20px )
    rem-fallback( margin, 12px 0 )
    box-shadows( 1px, 4px, 125, 0.8 )

.main__content
    float left
    width 74%

.main__feature
    float right
    width 24%
